<div id="table" class="container marginT">
    <table style="width: 100%;"
      class="table borderT table-borderless table-striped table-sm table-sortable"
    >
      <thead class="">
        <tr>
          <th>
            <div class="displayScroll">
              <div style="font-size: 13px;">ID</div>
              <div class="scrolls">
                <div><span>&#9650;</span></div>
                <div><span>&#9660;</span></div>
              </div>
            </div>
          </th>
          <th>
            <div  class="displayScroll">
              <div style="font-size: 13px;">Nombre</div>
              <div class="scrolls">
                <div><span>&#9650;</span></div>
                <div><span>&#9660;</span></div>
              </div>
            </div>
          </th>
          <th>
            <div class="displayScroll">
              <div style="font-size: 13px;">id Item</div>
              <div class="scrolls">
                <div><span>&#9650;</span></div>
                <div><span>&#9660;</span></div>
              </div>
            </div>
          </th>
  
          <th>
            <div class="displayScroll">
              <div style="font-size: 13px;">Nombre de Item</div>
              <div class="scrolls">
                <div><span>&#9650;</span></div>
                <div><span>&#9660;</span></div>
              </div>
            </div>
          </th>
          <th>
            <div class="displayScroll">
              <div style="font-size: 13px;">Nombre de Categoria</div>
              <div class="scrolls">
                <div><span>&#9650;</span></div>
                <div><span>&#9660;</span></div>
              </div>
            </div>
          </th>
          <th>
            <div class="displayScroll">
              <div style="font-size: 13px;">Nombre de Lote</div>
              <div class="scrolls">
                <div><span>&#9650;</span></div>
                <div><span>&#9660;</span></div>
              </div>
            </div>
          </th>
          <th>
            <div class="displayScroll">
              <div style="font-size: 13px;">Cantidad</div>
              <div class="scrolls">
                <div><span>&#9650;</span></div>
                <div><span>&#9660;</span></div>
              </div>
            </div>
          </th>
          <th>
            <div class="displayScroll">
              <div style="font-size: 13px;">Estatus</div>
              <div class="scrolls">
                <div><span>&#9650;</span></div>
                <div><span>&#9660;</span></div>
              </div>
            </div>
          </th>
          <th style="font-size: 13px;">Acción</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let data of items  ">
          <td style="width: 5%;">{{data.id }}</td>
          <td style="width: 5%;">{{data.name}}</td>
          <td style="width: 8%;">{{data.idItem}}</td>
          <td style="width: 10%;">{{data.nameItem}}</td>
          <td style="width: 10%;">{{data.nameCategoria}} </td>
          <td style="width: 10%;">{{data.nameLote}} </td>
          <td style="width: 10%;">{{data.cantidad}} </td>
          <td style="width: 10%;">{{data.estatus}} </td>
  
  
          <td style="width: 5%;">                 
            <button (click)="openDialogItemEdit()" class="btn btn-primary btn-sm " type="button">
              <span class="glyphicon glyphicon-search"></span><mat-icon>edit</mat-icon>
            </button>                 
        </tr>
      </tbody>
  
    </table>
  </div>
  
  